@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

body {
  font-family: "Nunito", sans-serif;
}

nav {
  /* User Story #11: The navbar should always be at the top of the viewport. */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

nav ul,
ul#social-media {
  margin: 0 auto;
  width: 400px;
  display: flex;
}

ul li {
  margin: 30px auto;
  list-style: none;
  text-transform: uppercase;
}

ul#social-media li {
  margin: 120px auto;
}

#welcome-section,
#projects,
#contact {
  /* User Story #10: The height of the welcome section should be equal to the height of the viewport. */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact {
  position: relative;
}

#welcome-section {
  background-color: #00647b;
}

#projects {
  background-color: #e7e5e6;
}

#project-container {
  margin-top: 40px;
  max-width: 925px;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-tile {
  margin: 10px;
}

.project-tile img {
  width: 275px;
  border: 6px solid rgba(220, 157, 17, 0.1);
}

.caption {
  text-align: center;
  margin-top: 15px;
}

#contact {
  background-color: #903412;
}

h1 {
  display: inline-block;
  margin: 0 auto;
  font-size: 48px;
  padding: 0 10%;
  text-align: center;
  font-weight: bold;
  color: #e7e5e6;
  max-width: 925px;
  line-height: 1.2em;
}

#description {
  font-size: 24px;
  margin-top: 20px;
  color: #d6b78b;
  padding: 0 10%;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

#contact-line {
  display: inline-block;
  padding: 0 10%;
  color: #e7e5e6;
  margin-top: 40px;
  text-align: center;
}

a:link,
a:visited,
a:active,
a:hover {
  border-bottom: 1px solid #609a78;
  color: #d7b88b;
  text-decoration: none;
  font-weight: bold;
}

#name,
#hire,
#selected-works {
  color: #dc9d11;
}

footer {
  height: 63px;
  padding-top: 37px;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: #e7e5e6;
  width: 100%;
}

/* User Story #9: My portfolio should have at least one media query. */
/* Note: This section does not pass if running locally, but does if saved on CodePen. */

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  #welcome-section,
  #projects,
  #contact {
    background-color: #1f0e29;
  }

  a:link,
  a:visited,
  a:active,
  a:hover {
    color: #d7b88b;
  }

  #hire,
  #selected-works,
  #name {
    color: #dc9d11;
  }
}
